.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

#userDisplay {
  color: #cacaca;
  text-decoration: none;
  padding-right: 0;
  padding-left: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 15rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

html,
.text-center {
  height: 100%;
}

.center {
  text-align: center;
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f500;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.text-muted {
  width: 100%;

}


.product-container {
    display: flex;
    flex-wrap: wrap;
   
  }
  
  .buttons-container {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    .button {
      float: right;
      width:50% ;
      height: 100%;
      padding: 8px 16px;
      background-color: #32a0b8;
      color: rgb(70, 66, 66);
      border: none;
      cursor: pointer;
      margin-right: 10%;
      margin-left: 10%;
      margin-right: 10%;
    }
    
    .right-align {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
    }}
  
    .buttons-container button {
      margin-right: 10px; /* Ajusta el valor según el espacio que desees entre los botones */
  }



#buscador {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-right: 5px
}

.logo {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.logo img {
  max-width: 100%; 
  max-height: 100%; 
    
}

/* Productos comentarios */

/* Estilo general de la sección de comentarios */
#name {
  text-align: center;
  background-color: #ffffff5d; /* Fondo blanco */
  color: #000; /* Texto negro */
  padding: 20px;
  margin: 20px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000; /* Texto negro */
  padding: 20px;
  margin: 20px;
  flex-direction: column;
}
img {
  width: 400px; /* Ancho de la imagen de fondo */ 
  border: 2px solid #000; /* Borde negro */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
}

#informacion{
  margin-top: 3rem;
  /*font-family: cursive;*/
  font-size: 20px;
  background-color: #c4b6b6b6; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px

}
.botonCarrito{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnCarro{
  background-color: rgba(240, 144, 1, 1);
  color: #fff; /* Texto blanco */
  padding: 10px 20px;
  border: none;
  border-radius: 5px; /* Esquinas redondeadas */
  cursor: pointer;
  /*font-family: Arial, sans-serif;  Cambia la fuente según tus preferencias */
  font-size: 16px; /* Tamaño de fuente */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}
.btnCarro:hover {
  background-color: rgba(200, 120, 0, 1); /* Cambia el color al pasar el mouse */
}

.titulo{
  /*font-family: "Times New Roman", Times, serif;*/
  font-size: 3rem; 
  font-weight: bold;
  color: rgba(240, 144, 1, 1);
  text-align: center;
  margin: 10px ;
}
/*comentario y estrellas*/

.containerComentario {
  background-color: #f0f0f000; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  width: 40%; 
  margin: 0 auto;
  /*font-family: cursive;*/
  flex: 1;
  
}

.stars {
  display: inline-block;
}
.stars label {
  font-size: 30px;
  cursor: pointer;
}
.fa-star-empty::before {
  content: "\2606"; /* Estrella vacía */
  color: rgba(107, 107, 4, 0.788);
}
.fa-star-filled::before {
  content: "\2605"; /* Estrella llena */
  color: rgba(107, 107, 4, 0.788);
}

/* Estilo para el contenedor de comentarios */
#comment-list {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  flex: 1;
  
}

/* Estilo para cada comentario */
#comment-list li {
  margin-bottom: 20px; 
  border: 1px solid #ccc; 
  padding: 10px; 
  background-color: #f9f9f900; 
  /*font-family: cursive;*/
  border-radius: 5px; 
  width: 100%;
  align-items: 50%;
}

/* Estilo para el encabezado de cada comentario (nombre de usuario y fecha) */
#comment-list li p:first-child {
  /*font-weight: bold;*/
  margin: 0;
}

/* carusel boostrap*/
#carouselExampleControls{
  width: 400px;

}
.productosRelacionados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
} 
.carousel-item:hover{
  cursor: pointer;
}


.estrellas-amarillas{
color: yellow;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* imagenes de product-info */
.image-grid{
  width: 35%; /* Ancho de la imagen de fondo */ 
  margin-right: 20px;
  margin-top: 20px;
  border: 2px solid #000; /* Borde negro */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
}

#informacion{
  width: 75%;
}
#comment{
 width: 70%;
}

.img-fluid{
  width: 100px;
}

.bi-trash-fill {
  cursor: pointer;
}